

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    

}

#titolo-pagina {
    margin:40px;
}

.card-container {
    width:100%; 
}

.card {
    width:700px;
    height:400px;
    margin:20px 20px;
    padding:20px;
    display:flex;

}

.card img {
    width:250px;
    border-radius:20px;

}

footer {
    width:100%;
    text-align: center;
    background-color: black;
    color:white;
    padding:8px;
}

.info-prodotto {
    margin: 0 30px;
}

.commento {
    margin:20px 50px;
}

.miaclasse {
    
}